// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

body {
  background: #000;
}

.bespoke-progress-bar {
  background: #79b000;
}

.bespoke-slide {
  padding: 30px;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
}

a {
  color: #79b000;

  &:hover {
    color: #92d400;
  }
}

.small {
  margin: 0 0 12px;
  font-size: 12px;
}

pre.bullet {
  width: 100%;
}

.small-code {
  font-size: 15px;
}

.venn-fine-print {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.venn {
  width: 580px;
  height: 360px;
  position: relative;
  background-image: url('../images/venn.svg');

  h3 {
    margin-bottom: 4px;
  }

  p {
    margin: 0 0 4px;
  }
}

.venn1 {
  position: absolute;
  width: 250px;
  left: 165px;
  top: 40px;
}

.venn2 {
  position: absolute;
  width: 210px;
  left: 90px;
  top: 180px;
}

.venn3 {
  position: absolute;
  width: 160px;
  left: 290px;
  top: 180px;
}
