// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

body {
  background: #000;
}

.bespoke-progress-bar {
  background: #79b000;
}

.bespoke-slide {
  padding: 30px;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
}

a {
  color: #79b000;

  &:hover {
    color: #92d400;
  }
}

.small {
  margin: 0 0 12px;
  font-size: 12px;
}

pre.bullet {
  width: 100%;
}

.small-code {
  font-size: 15px;
}
